/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --title-decor-color: #000028;
  --accent-color: #F1B2CE;
  --additional-color: #FF0070;
  --additional-color-opacity: rgba(255,0,112, .4);
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --section-title-color: #FF0070;
   --decorated-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
    --title-decor-color: #000028;
    --accent-color: #F1B2CE;
    --additional-color: #FF0070;
    --additional-color-opacity: rgba(255,0,112, .4);
    --title-color: #DB00FF;
    --shadow-color: #FF0070;
    --section-title-color: #FF0070;
     --decorated-color: #FF0070;

    }
  }

  .theme-auto .header__rec {
    display: block;
  }

.theme-dark .header__rec {
  display: block;
}

.theme-dark .section__title,
.theme-auto .section__title {
  color: var(--section-title-color);
}

.theme-dark .decorated-zone::after,
.theme-dark .decorated-zone::before,
.theme-auto .decorated-zone::after,
.theme-auto .decorated-zone::before {
  border-color: var(--decorated-color);
}