/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --title-decor-color: #353430;
  --accent-color: #353430;
  --additional-color: #FF8DCB;
  --additional-color-opacity: rgba(50, 49, 45, .4);
  --title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --section-title-color: #353430;
   --decorated-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --title-decor-color: #353430;
  --accent-color: #353430;
  --additional-color: #FF8DCB;
  --additional-color-opacity: rgba(50, 49, 45, .4);
  --title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
   --section-title-color: #353430;
    --decorated-color: #353430;
  }

  .theme-light .section__title,
.theme-auto .section__title {
  color: var(--section-title-color);
}

  .theme-auto .header__rec {
    display: none;
  }
}

.theme-light .header__rec {
  display: none;
}

.theme-light .decorated-zone::after,
.theme-light .decorated-zone::before,
.theme-auto .decorated-zone::after,
.theme-auto .decorated-zone::before {
  border-color: var(--decorated-color);
}

.theme-light .header__theme-menu-button,
.theme-auto .header__theme-menu-button {
  color: var(--decorated-color); 
}
