/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --title-decor-color: #353430;
  --accent-color: #353430;
  --additional-color: #FF8DCB;
  --additional-color-opacity: rgba(50, 49, 45, .4);
  --title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --section-title-color: #353430;
  --decorated-color: #353430;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --title-decor-color: #353430;
  --accent-color: #353430;
  --additional-color: #FF8DCB;
  --additional-color-opacity: rgba(50, 49, 45, .4);
  --title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --section-title-color: #353430;
  --decorated-color: #353430;
  }

  .header__rec {
    display: none;
  }
}


.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--decorated-color); 
}
